body {
	//burger menu estilos

	header {
		summary::marker {
			font-size: 0;
		}
		div.menu-mobile {
			.burguer-nav-ul {
				@include menu-top-mobile();
				@media (min-width: 1200px) {
					display: none;
				}
			}
		}
		div.burguer {
			@media (min-width: 1200px) {
				display: none;
			}
			transition: 1s;
			left: 100vw;
			position: absolute;
			nav {
				padding: 24px 16px 12px;
				.portfolio-mobile {
					max-width: 180px;
				}
				.about-mobile {
					max-width: 115px;
				}
				.burguer-nav-ul {
					@include menu-top-mobile();
				}

				ul.open-mobile-ul {
					display: block;
					background: white;
					z-index: 5;
					width: 100%;
					details {
						ul {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							img {
								width: 94px;
							}
						}
						summary::marker {
							font-size: 0;
						}
					}
				}
			}
		}
	}
	&.hamburger-menu-active {
		// @media (max-width: $breakpoint-tablet - 1px) {
		overflow: hidden;
		header {
			div.burguer {
				transition: 1s;
				left: 0;
			}
		}
		// }
	}

	header {
		div.desktop-menu {
			display: none;
			@media (min-width: 1200px) {
				display: block;
			}
			.el-maikel-desktop {
				max-width: 447px;
			}
			.portfolio-desktop {
				max-width: 270px;
			}
			.about-desktop {
				max-width: 172.5px;
			}
		}
	}

	&.page-scrolled:not(.hamburger-menu-active) {
		header {
			margin: 0;

			#burger-menu-button {
				padding: 6px 0 0;
			}
		}
	}
}
