body {
	//burger menu estilos

	header {
		summary::marker {
			font-size: 0;
		}
		div.menu-mobile {
			.burguer-nav-ul {
				@include menu-top-mobile();
				@media (min-width: 1200px) {
					display: none;
				}
			}
		}
		div.burguer {
			@media (min-width: 1200px) {
				display: none;
			}
			transition: 1s;
			left: 100vw;
			position: absolute;
			nav {
				padding: 24px 16px 12px;
				.portfolio-mobile {
					max-width: 180px;
				}
				.about-mobile {
					max-width: 115px;
				}
				.burguer-nav-ul {
					@include menu-top-mobile();
				}

				ul.open-mobile-ul {
					display: block;
					background: white;
					z-index: 5;
					width: 100%;
					li {
						details {
							ul {
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: center;
								li {
									a {
										text-align: center;
										display: flex;
										flex-direction: column;
										align-items: center;
										justify-content: flex-start;
										height: 40px;
										img {
											width: 94px;
											&.travels-in {
												width: 104px;
											}
											&.reality {
												width: 79px;
											}
											&.americana {
												width: 103px;
											}
											&.light {
												width: 55px;
											}
											&.wapien {
												width: 90px;
											}
											&.film {
												width: 60px;
											}
											&.grandpa {
												width: 90px;
											}
											&.colabs {
												width: 90px;
											}
										}
									}
									margin-bottom: 16px;
								}
							}
							summary::marker {
								font-size: 0;
							}
						}
					}
				}
				img {
					margin-bottom: 0;
					&.contact {
						width: 136.53px;
					}
					&.insta {
						width: 90.67px;
					}
				}
			}
		}
	}
	header {
		div.burguer {
			// transform: translateY(-100%); /* Mueve el elemento fuera de la pantalla */
			// transition: transform 0.5s;
		}
	}
	&.hamburger-menu-active {
		overflow: hidden;
		header {
			div.burguer {
				// transform: translateY(0); /* Muestra el elemento en la posición original */

				transition: 1s;
				left: 0;
			}
		}
	}

	header {
		div.desktop-menu {
			display: none;
			@media (min-width: 1200px) {
				display: block;
			}

			// .el-maikel-desktop {
			// 	max-width: 206.8px;
			// }
			// .rogowski-desktop {
			// 	max-width: 238.4px;

			// }
			.portfolio-desktop {
				max-width: 270px;
			}
			.about-desktop {
				max-width: 172.5px;
			}
		}
	}

	&.page-scrolled:not(.hamburger-menu-active) {
		header {
			margin: 0;

			#burger-menu-button {
				padding: 6px 0 0;
			}
		}
	}
}
