body {
	//burger menu estilos
	&.hamburger-menu-active {
		@media (max-width: $breakpoint-tablet - 1px) {
			header {
				padding: 0;
			}

			nav {
				ul {
					display: block;
					background: white;
					position: fixed;
					z-index: 5;
					width: 100%;
				}

				img.burger-menu-close {
					display: block;
					z-index: 6;
					position: fixed;
					width: 20px;
					top: 33px;
				}
			}
		}
	}

	header {

		nav {
			display: flex;
			justify-content: space-between;

			button {
				padding: 20px 0 0;
				z-index: 6;
				position: relative;

				.burger-menu-open {
					width: 30px;
				}

				img.burger-menu-close {
					display: none;
				}

				@media (min-width: $breakpoint-tablet) {
					display: none;
				}
			}

			
		}
	}

	&.page-scrolled:not(.hamburger-menu-active) {
		header {
			margin: 0;

				#burger-menu-button {
					padding: 6px 0 0;
				}
			}
		}
	}

