@mixin menu-top-mobile() {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mobile-mikel-rogowski-link {
        color: transparent;
        text-decoration: none;
        .el-maikel-mobile {
            max-width: 123px;
        }
        .rogowski-mobile {
            max-width: 137px;
            margin-left: -10px;
        }
    }

    button {
        z-index: 6;
        position: relative;
        background-color: white;
        border: none;

        img.burger-menu-open {
            width: 36px;
        }

        img.burger-menu-close {
            width: 36px;
        }
    }
}
